.game--title {
	margin: auto;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 8vw;
	font-family: inherit;
	font-weight: 800;
	height: fit-content;

	& > span {
		display: inline-block;
		text-shadow: 0 0 0 #00000080;
		animation-duration: 10s;
		animation-iteration-count: 1;

		&:not(:last-child) {
			margin-right: -.5rem;
		}

		&:nth-child(1) {
			animation-name: fallLeftAndRise;
		}

		&:nth-child(2) {
			animation-name: fallLeftAndRise;
			animation-delay: .3s;
		}

		&:nth-child(3) {
			animation-name: fallRightAndRise;
			animation-delay: .5s;
		}

		&:nth-child(4) {
			animation-name: fallLeftAndRise;
			animation-delay: .8s;
			margin-right: 7rem;
		}

		&:nth-child(5) {
			animation-name: fallRightAndRise;
			animation-delay: .10s;
		}

		&:nth-child(6) {
			animation-name: fallRightAndRise;
			animation-delay: .13s;
		}

		&:nth-child(7) {
			animation-name: fallRightAndRise;
			animation-delay: .15s;
		}

		&:nth-child(8) {
			animation-name: fallLeftAndRise;
			animation-delay: .17s;
		}

		&:nth-child(9) {
			animation-name: fallLeftAndRise;
			animation-delay: .20s;
			margin-right: 7rem;
		}

		&:nth-child(10) {
			animation-name: fallRightAndRise;
			animation-delay: .22s;
		}

		&:nth-child(11) {
			animation-name: fallLeftAndRise;
			animation-delay: .25s;
		}

		&:nth-child(12) {
			animation-name: fallRightAndRise;
			animation-delay: .27s;
		}

		&:nth-child(13) {
			animation-name: fallRightAndRise;
			animation-delay: .29s;
		}

		&:nth-child(14) {
			animation-name: fallRightAndRise;
			animation-delay: .31s;
		}

		&:nth-child(15) {
			animation-name: fallLeftAndRise;
			animation-delay: .33s;
		}

		&:nth-child(16) {
			animation-name: fallLeftAndRise;
			animation-delay: .35s;
		}

		&:nth-child(17) {
			animation-name: fallLeftAndRise;
			animation-delay: .37s;
		}
	}
}