.app--container {
    //border: 3px solid gray;
    //border-radius: 2rem;
    width: 100vw;
    max-width: 80rem;
    height: 40vh;
    margin: 0 auto;
    margin-top: 10rem;
    //background-image: linear-gradient(#3e5151 , #decba4);
    //background: rgba(191, 191, 191, 0.8);
    //background: #202731;
}
