.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    margin-bottom: 4rem;
    width: 120px;
    height: 60px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: block;
    color: whitesmoke;
    background-color: #e6e6e64D;
    border: 2px solid gray;
    font-weight: bold;
    border-radius: 10%;
    &:hover{
        cursor: pointer;
    }
}

.emoji {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    position: relative;
    margin-bottom: 8rem;
}

.emoji--1, .emoji--2, .emoji--3 {
    border: 1px solid gray;
    font-size: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color: #e6e6e64D;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 4px;
}