.signup--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: orange;
	border-radius: 30px;
	
}
.signup--header {
	font-weight: 500;
	width: 100%;
	align-self: center;
	text-align: center;
}

.back {
	width: 4rem;
	height: 4rem;
	align-self: flex-start;
	margin-left: 2rem;
}

.back:hover {
	//transform: scale(1.3);
	animation: grow 0.2s ease-in-out forwards;
}

.top {
	color: white;
	font-size: 3.5rem;
	margin-top: 2rem;
}

.icon {
	width: 3rem;
	height: 3rem;
	position: relative;
	top: 0.7rem;
	right: -0.5rem;
	background-color: whitesmoke;
	border-radius: 0.5rem;
}

.signUp {
	background-color: #1E91D6;
	height: 5rem;
	width: 50rem;
	position: relative;
	margin: 0 auto;
	border-radius: 0.5rem;
	border: 2px solid rgba(191, 191, 191, 0.7);
	box-shadow: 2px 2px 3px gray;
}

label {
	font-size: 2rem;
	font-weight: bold;
	width: 50rem;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	color: white;
	display: block;
}

input {
	height: 3.5rem;
	width: 50rem;
	border-radius: 0.5rem;
	background-color: whitesmoke;
	border: 2px solid rgba(191, 191, 191, 0.7);
	margin-bottom: 1rem;
	box-shadow: 2px 2px 3px gray;
}

.name input, .name label {
	width: 24rem;
}

.name {
	width: 24rem;
	display: inline-block;
}

.last {
	position: relative;
	left: 2rem;
}

form {
	width: 50rem;
}

.secondaryUp {
	border-radius: 0.5rem;
	height: 5rem;
	width: 24rem;
	background-color: #1E91D6;
	border: 2px solid rgba(191, 191, 191, 0.7);
	display: inline-block;
	text-align: center;
	padding-bottom: 1rem;
	box-shadow: 2px 2px 3px gray;
}

.second {
	bottom: 0rem;
	position: relative;
	margin-left: 2rem;
	padding-top: 1rem;
}

.or {
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	margin: 1rem 0;
}

@keyframes grow {
	from {
		width: 4rem;
	  	height: 4rem;
	}
	to {
		transform: scale(1.2)
	}
  }