@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}

@keyframes fill {
	from {
	  height: 0;
	}
	to {
	  height: 102%;
	}
}

@keyframes slide-right {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
@keyframes slide-left {
    from {
      right: -100%;
    }
    to {
      right: 0%;
    }
}

@keyframes slide-up {
    from {
      bottom: -100%;
    }
    to {
      bottom: 0%;
    }
}

@keyframes hue-rotate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
}


@keyframes fallLeftAndRise {
    0% {
      transform: translateY(-200%) skew(70deg);
      opacity: 0;
      text-shadow: 0 0 5rem;
    }
    50% {
      transform: translateY(400%);
      opacity: 1;
    }
}

@keyframes fallRightAndRise{
    0% {
        transform: translateY(-400%) skew(-70deg);
        opacity: 0;
        text-shadow: 0 0 5rem;
      }
      50% {
        transform: translateY(400%);
        opacity: 1;
      }
}

@keyframes disappear {
  100% {
    opacity: 0;
  }
}
