@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}


@keyframes fill {
	from {
	  height: 0;
	}
	to {
	  height: 102%;
	}
}

@keyframes slide-right {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
@keyframes slide-left {
    from {
      right: -100%;
    }
    to {
      right: 0%;
    }
}

@keyframes slide-up {
    from {
      bottom: -100%;
    }
    to {
      bottom: 0%;
    }
}

