.default {
    background-image: url("../images/default.svg");
}

.geometric {
    background-image: url('../images/geometric.svg');
}

.mountain {
    background-image: url('../images/mountain.svg');
}

.ocean {

    background-image: url('../images/ocean.svg');
}

.bubble {
    background-image: url('../images/bubble.svg');
}