.default {
    overflow-x: hidden;
    height: 100%;
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/default.svg");

}

.geometric {
    overflow-x: hidden;
    height: 100%;
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/geometric.svg');
}

.mountain {
    overflow-x: hidden;
    height: 100%;
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/mountain.svg');
}

.ocean > *{
    overflow-x: hidden;
    height: 100%;
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    background-image: url('../images/ocean.svg');
}

.bubble > *{
    color:black;
    overflow-x: hidden;
    height: 100%;
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/bubble.svg');
}

