//COLORS
$color-pink-light: #D999B9;
$color-pink-dark: #86325C;

$color-blue-light: #1E91D6;
$color-blue-dark: #12547D;

$color-brown-light: #885053;
$color-brown-dark: #5A3537;

$color-orange-dark: #ff7730;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-white-light: whitesmoke;

$color-black: #000;


//FONTS
$font-size-xsm: 1.6rem;
$font-size-sm: 3rem;
$font-size-md: 4rem;
$font-size-lg: 7vw;
//$font-size-xlg: ;

//DIMENSIONS
$card-height: 25vh;
$card-width: calc($card-height/1.2);

//Styling
.centerflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}