//COLORS
$color-pink-light: #d999b9;
$color-pink-dark: #86325c;

$color-blue-light: #1e91d6;
$color-blue-dark: #12547d;

$color-brown-light: #885053;
$color-brown-dark: #5a3537;

$color-orange-dark: #ff7730;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-white-light: whitesmoke;

$color-black: #000;

//BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//BREAKPOINTS
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;



//FONTS
$font-size-xsm: 1.6rem;
$font-size-sm: 3rem;
$font-size-md: 4rem;
$font-size-lg: 7vw;
//$font-size-xlg: ;

//DIMENSIONS
$card-height: 25vh;
$card-width: calc($card-height/1.2);

//STYLING
.centerflex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
