
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 0px solid red;
}

.area {
   border: 3px solid #3e5151;
   border-radius: 2rem;
   width: 100vw;
   max-width: 50rem;
   margin: 0 auto;
   margin-top: 5rem;
}

h1 {
   font-size: 6rem;
   font-family: 'Roboto', sans-serif;
   color: whitesmoke;
   text-align: center;
   margin-top: 5vh;
   margin-bottom: 4vh;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   padding: 1rem;
   //background-color: ;
}
