
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 0px solid red;
}

.area {
   border: 3px solid gray;
   border-radius: 2rem;
   width: 100vw;
   max-width: 80rem;
   height: 50vh;
   margin: 0 auto;
   margin-top: 5rem;
   //background-image: linear-gradient(#3e5151 , #decba4);
   background: rgba(191, 191, 191, 0.8);
}

h1 {
   font-size: 10rem;
   font-family: 'Roboto', sans-serif;
   color: whitesmoke;
   text-align: center;
   margin-top: 5vh;
   margin-bottom: 10vh;
   opacity: 0.9;
   letter-spacing: 2px;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
   height: 100%;
   //background-image: linear-gradient(#3e5151 , #decba4);
   background-image: linear-gradient(to right, #009fff, #eb2d4a);
}

body {
   padding: 1rem;
}

.letters {
   position: absolute;
   top: 0;
}