.signIn {
	background-color: #885053;
	height: 5rem;
	width: 55rem;
	position: relative;
	margin: 0 auto;
	border-radius: 0.5rem;
	border: 2px solid rgba(191, 191, 191, 0.7);
	//box-shadow: 2px 2px 3px gray;
	
}

.secondaryIn {
	border-radius: 0.5rem;
	height: 5rem;
	width: 26.5rem;
	font-size: 1.8rem;
	background-color: #885053;
	border: 2px solid rgba(191, 191, 191, 0.7);
	display: inline-block;
	text-align: center;
	padding-bottom: 1rem;
	//box-shadow: 2px 2px 3px gray;
}

.signup--container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: white;
}