.card {
  align-items: center;
  background: #191c29;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 0.5rem;

  //so rotate can push out towards page
  //FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;

  &.notSelected {
    animation: disappear 4s ease-in;
  }

  &:active &--front {
    transform: rotateY(-180deg);
  }

  &:active &--back {
    transform: rotateY(0);
  }

  /* & > img {
    transition: 2s;
    opacity: 0;
    z-index: -2;
  } */

  /* &:hover {
    color: rgb(88 199 250 /100%);
    transition: color 2s;

    img {
      transform: translateY(-175%);
      opacity: 1;
      z-index: 1;
    }
  } */

  @media (min-width: $breakpoint-tablet) {
    padding: 1.5rem;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 3rem;
  }

  &--image {
    height: 25vw;
    width: 25vw;

    @media (min-width: $breakpoint-desktop) {
      height: 250px;
      width: 250px;
    }
  }

  &--name {
    font-size: 2.5rem;

    /* opacity: 0;

    &:hover {
      opacity: 1;
      transition: opacity 1.5s;
    } */

    @media (min-width: $breakpoint-tablet) {
      font-size: 5rem;
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: 6rem;
    }
  }
}
