* {
    margin: 0;
    padding: 0;
}

.area {
    border: 3px solid #a2c3c3;
    border-radius: 2rem;
    width: 40vw;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: #e0ebeb;
}

h1 {
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

html {
    font-size: 62.5%;
}